@import "/css/variable.css" body {
  width: 100%;
  align-content: center;
  text-align: justify;
  margin: 10px;
}

.face {
  width: 50%;
  height: auto;
  border-radius: 20%;
  margin: 10px;
  max-width: 300px;
}

section {
  background-color: rgb(214, 122, 194);
  padding: 20px;
  border: solid 3px rgb(109, 232, 236);
  margin: 10px;
  size: 70%;
}

img {
  height: 50px;
}

table {
  border: 2px;
  margin: 10px;
}

body {
  font-family: Caveat;
}

@font-face {
  font-family: "Caveat";
  src: url(/assets/Caveat-VariableFont_wght.ttf);
}

a {
  color: darkslategray;
}

a:visited {
  color: lightslategrey;
}

nav {
  margin-right: 50px;
  text-align: right;
}
